<%= simple_form_for @user, remote: true do |f| %>

  <%= f.input :username %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.submit 'Signup', class: 'btn btn-primary btn-block' %>
  <p>Have an account? <%= link_to 'Login', login_path, remote: true %></p>

<% end %>
