<h2><%= @user.username %></h2>

<h4>Recent Staples</h4>
<ul class="list-inline">
  <% @posts.each do |post| %>
    <li class="list-item">
      <div class='staple-display img-rounded well'>
        <%= link_to post.url, target: '_blank' do %>
          <%= image_tag post.photo.url(:small), class: 'img-rounded' %>
        <% end %>
        <p><%= link_to post.user.username, post.user %> <%= time_ago_in_words post.created_at %> ago</p>
        <p><%= post.notes %></p>
      </div>
    </li>
  <% end %>
</ul>

<%= paginate @posts %>
