<% @posts.each do |post| %>
  <div class='staple-display img-rounded well pull-left'>
    <%= link_to post.url, target: '_blank' do %>
      <%= image_tag post.photo.url(:small), class: 'img-rounded' %>
    <% end %>
    <p><%= link_to post.user.username, post.user %> <%= time_ago_in_words post.created_at %> ago</p>
    <%= post.notes %>
  </div>
<% end %>
