<%= link_to staple_modal_path(post.id), remote: true do %>
  <%= image_tag post.photo.url(:large), class: 'img-rounded img-responsive' %>
<% end %>
<p><%= link_to post.user.username, post.user, remote: true %> <%= time_ago_in_words post.created_at %> ago</p>

<%= render partial: 'posts/show_tag_list', locals: { post: post } %>

<p><%= post.notes %></p>

<p>
  <span class="staple_button">
    <%= render partial: 'posts/staple_button', locals: { post: post } %>
  </span>
  <span class="like_button">
    <%= render partial: 'posts/like_button', locals: { post: post } %>
  </span>
</p>

<% if post.user == current_user %>
  <%= link_to destroy_post_path(post_id: @post.id), remote: true, method: :delete do %>
    <button class='btn btn-danger btn-block' data-dismiss='modal'><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
  <% end %>
<% end %>
