<div class='img-rounded well'>
  <%= link_to staple_modal_path(post.id), remote: true do %>
    <%= image_tag post.photo.url(:large), class: 'img-rounded' %>
  <% end %>
  <p><%= link_to post.user.username, post.user, remote: true %> <%= time_ago_in_words post.created_at %> ago</p>
  <p><%= post.notes %></p>
</div>
