<div class="col-md-6 col-md-offset-3 margin-top">
  <%= simple_form_for @post, url: staples_path do |f| %>

    <%= f.input :url, label: 'Link' %>
    <%= f.input :photo, class: 'form-group', input_html: { class: 'form-control' } %>
    <%= f.input :notes, input_html: { rows: 7 } %>
    <%= f.submit 'Staple It', class: 'btn btn-primary btn-block' %>

  <% end %>
</div>
